.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5E3719;
    font-size: 16px;
    font-weight: 600;
    margin: 85px 170px 40px; /* Reduced top margin */
    text-transform: capitalize;
}

@media(max-width:1280px){
    .breadcrum{
        margin: 100px 50px 30px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .breadcrum{
        margin: 90px 30px 20px;
        font-size: 13px;
    }
}

@media(max-width:800px){
    .breadcrum{
        margin: 80px 10px 20px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .breadcrum{
        margin: 75px 10px 15px;
        font-size: 10px;
    }
}