.sidebar {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 15px;
    width: 280px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #f2f2f2;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin: 0 15px;
    border-radius: 10px;
    background: transparent;
    gap: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #666;
}

.sidebar-item p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.sidebar-item img {
    width: 22px;
    height: 22px;
    opacity: 0.7;
}

.sidebar-item:hover {
    background: #fcfcfc;
    color: #9e1b20;
}

.sidebar-item:hover img {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(14%) sepia(85%) saturate(3665%) hue-rotate(349deg) brightness(89%) contrast(92%);
}

.sidebar .active-link .sidebar-item {
    background: #fff5f5;
    color: #9e1b20;
}

.sidebar .active-link .sidebar-item img {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(14%) sepia(85%) saturate(3665%) hue-rotate(349deg) brightness(89%) contrast(92%);
}

@media(max-width: 800px) {
    .sidebar {
        padding: 15px;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: center;
        border-right: none;
        border-bottom: 1px solid #f2f2f2;
    }

    .sidebar-item {
        padding: 10px 15px;
        margin: 0;
        font-size: 12px;
    }
}